Django==3.1.7
django-filter==2.4.0
djangorestframework==3.12.4
django-cors-headers==3.7.0
python-dateutil==2.8.1
django-environ
environ
boto3
psycopg2-binary
boto
Pillow
requests
prinicpalmapper
python-dotenv